<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockyniu.todolist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- So that we can get the account name -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Used to request data from backend server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" -->


    <!-- Required if we need to invalidate access tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- Required to get pictures from the camera -->
    <!-- uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->


    <!-- Required to get pictures from the gallery -->
    <!-- uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" -->


    <!-- Required to check if Wifi is enabled before uploading photos -->
    <!-- uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HoloDarkTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.rockyniu.todolist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rockyniu.todolist.ToDoListActivity"
            android:label="@string/title_activity_to_do_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs6300todolist.MainActivity" />
        </activity>
        <activity
            android:name="com.rockyniu.todolist.EditItemActivity"
            android:label="@string/title_activity_edit_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cs6300todolist.ToDoListActivity" />
        </activity>
        
    </application>

</manifest>