!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Task List Manager
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel='stylesheet', media='screen')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body